.credex-section {
  --overlay-opacity: 0.8;
  text-align: center;
}

.credex-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(6, 21, 31, var(--overlay-opacity));
  z-index: 1;
}

.credex-section .content {
  position: relative;
  z-index: 2;
}

.credex-section .credexes {
  text-align: left;
}

.credex-section .credexes h2 {
  color: var(--organic-gold);
  margin-bottom: 2rem;
}

.credex-section .credexes p {
  text-align: justify;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .credex-section .credexes {
    padding: 0 1rem;
  }
}
